 .active{
  color: white;
  text-decoration: none;
 }
 header nav ul{
  display: flex;
  align-items: center;
  background-color: rgb(61, 61, 61);
  text-decoration: none;
 }
 header nav ul li{
  margin-right: 2rem;
  text-decoration: none;
  color: white;
  list-style-type: none;
  
   

 }
 li NavLink{
  text-decoration: underline;
  color: white;

 }